/**
 * Base styling.
 */

// ----- [0] BASE VARIABLES MIXINS \\
// ----- [1] FONT FACES            \\
// ----- [2] RESET & BASE          \\
// ----- [3] EXTRA NODES           \\

// [0] BASE VARIABLES & MIXINS \\
// --------------------------- \\

// [1] FONT FACES \\
// -------------- \\

@include font-face(Beeapp, font-files('beeapp.woff',
									  'beeapp.ttf',
									  'beeapp.svg#beeapp'), 'beeapp.eot', 400, normal);

// [2] RESET & BASE \\
// ---------------- \\

::-webkit-scrollbar {
    display: none; // Hide scrollbar for webkit browsers
}

// Small screen, non-retina \\
// ------------------------ \\
// @media only screen and (min-width: 320px) {
// 	html {
// 		font-size: 60%;
// 	}
// }

// Small screen, retina, stuff to override above media query \\
// --------------------------------------------------------- \\
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {
	html {
		font-size: 90%;
	}
}

// Medium screen, non-retina \\
// ------------------------- \\
@media only screen and (min-width: 600px) {
	html {
		font-size: 100%;
	}
}

// Medium screen, retina, stuff to override above media query \\
// ---------------------------------------------------------- \\
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 600px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 600px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 600px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 600px),
only screen and (                min-resolution: 192dpi) and (min-width: 600px),
only screen and (                min-resolution: 2dppx)  and (min-width: 600px) {
	html {
		font-size: 150%;
	}
}

// Large screen, non-retina \\
// ------------------------ \\
@media only screen and (min-width: 1300px) {
	html {
		font-size: 200%;
	}
}

// Large screen, retina, stuff to override above media query \\
// --------------------------------------------------------- \\
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {
	html {
		font-size: 250%;
	}
}

html {
	// Mixins
    @include user-select(none);
    -webkit-text-size-adjust: none;
    		text-size-adjust: none; // Prevent text resize on orientation change

	// Styling
	background-color: $color-lighter-yellow;

	// enable grab cursors when running in an iframe for desktop versions
	&.osx, &.win {
		@include grab-cursor;

		&:active {
			@include grabbing-cursor;
		}
	}
}

html, body {
	// Layout
	height: 100%;
	overflow: hidden; // On modern browsers, prevent the whole page to bounce
}

h1, h2, a, p {
	// Mixins
	@include font-smoothing;

	// Typography
	font-family: $font-family;
}

h1 {
	// Layout
	margin-top: .5rem;

	// Typography
	font-size: $font-size-x-small + 0.1;
	font-weight: bold;
	color: $color-darker-blue;

	&:first-child {
		// Layout
		margin-top: 0;
	}
}

h2 {
	// Typography
	font-size: $font-size-x-small;
	color: $color-dark-blue;
}

a {
	@include unstyled-link;
	@include user-select(none);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		    tap-highlight-color: rgba(0, 0, 0, 0);
}

span {
	text-decoration: underline;
	color: $color-brown;
}

header {
    // Mixins
    @include font-smoothing;

    //Layout
    height: $ui-header-height;
    line-height: $ui-header-height;
    padding: $layout-spacing-small;

    // Styling
    background: $color-brown;

    // Typography
    font-family: $font-family;
    font-weight: bold;
    font-size: $font-size-x-small + .1;
    color: $color-yellow;
}


@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

// [3] EXTRA NODES \\
// --------------- \\
#app {
	> div {
		// Layout
		position: absolute;
		height: 100%;
	}

	.main {
		// Mixins
		@include transition(transform $timing-slide-ms ease-in-out);
		// Mixins
		@include display-flex;

		// Layout
		height: 100%;
	}
}
