/**
 * Mixins.
 */

// ----- [0] KEYFRAMES        \\
// ----- [1] SECTION BLOCK    \\
// ----- [2] LOADING SPINNER  \\

// [0] KEYFRAMES \\
// ------------- \\
@include keyframes(spin) {
	0% {
		@include transform(rotate(360deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(scale) {
	0% {
        @include transform(scale(1));
        @include opacity(0.25);
    }
    10% {
        @include transform(scale(1.5));
        @include opacity(0.5);
    }
    50% {
        @include transform(scale(2));
        @include opacity(1);
    }
    10% {
        @include transform(scale(1.5));
        @include opacity(0.5);
    }
    100% {
        @include transform(scale(1));
        @include opacity(0.25);
    }
}

// [1] SECTION BLOCK \\
// ----------------- \\
@mixin section {
    section {
        // Layout
        padding: $layout-spacing-small/2 $layout-spacing-small;

        > div {
            // Sizing
            padding: $layout-spacing-small;

            // Styling
            background-color: $color-light-yellow;

            // Typography
            font-family: $font-family;
            font-size: $font-size-x-small;
            line-height: $font-size-x-small * 2;
            color: $color-brown;
        }
    }
}

// [2] LOADING SPINNER \\
// ------------------- \\
@mixin spinner {
    .spinner {
        min-width: 24px;
        min-height: 24px;
    }
     
    .spinner:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        margin-top: -10px;
        margin-left: -10px;
    }
     
    .spinner:not(:required):before {
        content: '';
        border-radius: 50%;
        border-top: 2px solid #03ade0;
        border-right: 2px solid transparent;
        animation: spinner .6s linear infinite;
        -webkit-animation: spinner .6s linear infinite;
    }
}