/**
 * Variables.
 */

// COLOR
$color-yellow: #f6cf57;
$color-light-yellow: #F7F0DC;
$color-lighter-yellow: #F6CF57;
$color-brown: #2f1d14;
$color-blue: #1196D1;
$color-dark-blue: #0d719d;
$color-darker-blue: #094b69;
$color-grey: #666666;

// LAYOUT
$layout-spacing-small: 5px;
$layout-spacing-medium: 10px;
$layout-spacing-large: 15px;

// FONT
$font-family: Beeapp;
$font-size-xx-small: .8rem;
$font-size-x-small: 1rem;
$font-size-small: 2rem;
$font-size-medium: 4rem;
$font-size-large: 8rem;

// TIMING
$timing-fade-ms: .5s;
$timing-scale-ms: .5s;
$timing-slide-ms: .25s;
$timing-slide-slow-ms: .75s;

// UI
$ui-logo-height: 4.8rem;
$ui-header-height: 2rem;
$ui-radius-size: .5rem;
$ui-nav-bar-height: 3rem;
$ui-footer-height: 1rem;
$ui-social-size: 1.6rem;

// ANIMATIONS
$anim-bounce-bezier: cubic-bezier(.64,.57,.67,1.53);

//PATH
$path-fonts: '../assets/fonts';
$path-images: '../assets/images';

//Z-INDEXES
$z-level-0: 0;
$z-level-1: 1;
$z-level-2: 2;
