<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Beeapp Portfolio</title>
    <meta content charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui'>
    <meta name='apple-mobile-web-app-title' content='Beeapp'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='mobile-web-app-capable' content='yes'>
    <link rel="icon" type="image/png" href="/res/favicon.ico">
    <!-- critical css that will go inline for contents above-the-fold -->
    <link rel='stylesheet' href='css/inline.css'>
</head>

<body>
    <!-- app mount node -->
    <div id='app'></div>

    <!-- page speed insights to avoid render-blocking scripts -->
    <script>

    // set up RAF
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;

    var insertCSSTag = function() {
        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.href = "css/app.css?v={{version.cache}}";
        document.head.appendChild(link);
    };

    var insertJSTag = function() {
        var script = document.createElement("script");
        script.src = "js/app.js?v={{version.cache}}";
        script.async = true;
        document.body.appendChild(script);
    }

    // CSS
    if (raf) {
        raf(insertCSSTag);
    } else {
        window.addEventListener("load", insertCSSTag);
    }

    // JS
    if (window.addEventListener) {
        window.addEventListener("load", insertJSTag, false);
    } else if (window.attachEvent) {
        window.attachEvent("onload", insertJSTag);
    } else {
        window.onload = insertJSTag;
    }
    </script>
</body>

</html>
