/**
 * About Me styling.
 */

// ----- [0] LOCAL VARIABLES \\
// ----- [1] LOCAL MIXINS    \\
// ----- [2] ABOUT ME LAYOUT \\
// ----- [3] HEADER LAYOUT   \\
// ----- [4] FOOTER LAYOUT   \\

// [0] LOCAL VARIABLES \\
// ------------------- \\

/**
 * Component class name
 */
$component: 'aboutme';

/**
 * Footer hidden state offset
 */
$hidden-offset: 5.5rem; 

// [1] LOCAL MIXINS \\
// ---------------- \\


// [2] TILE LAYOUT \\
// ----------------\\
.#{$component} {
	// Mixins
	@include display-flex;
    @include flex-direction(column);
    @include section;
    @include transition(opacity $timing-fade-ms ease-in-out);
    @include opacity(1);

    // Layout
    position: relative;

    // Sizing
    width: 100%;
    height: 100%;

    .aboutme__intro {
        > div {
            // Mixins
            @include border-top-radius(5px);
        }
    }
}

// [3] HEADER LAYOUT \\
// ----------------- \\
.#{$component}__header {
    // Mixins
    @include flexbox((
        display: flex,
        flex-direction: row,
        justify-content: center
    ));
    html.android & { 
        @include flexbox((
            display: box,
            box-orient: horizontal,
            box-pack: center
        ), $version: 1);
    }

    // Styling
    padding: 6rem 0 2.5rem;

    .#{$component}__header__logo {
        // Layout
        display: block;
        padding: 2rem;
 
        // Styling
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="98.579" width="100.13" viewBox="0 0 80.10305 78.863042"><g fill="#fff"><path d="M1.345 65.905h13.218v12.958H1.337L1.345 65.9z"/><path d="M0 18.896V0l19.27.133 19.267.13.134 18.767.135 18.763H0V18.896zm25.69.257v-6.547H12.594v13.098H25.69v-6.55zm15.62-.252V.01h38.793V37.79h-38.79V18.9zm0 40.81V40.816h38.793V78.6h-38.79V59.708zm23.548 6.472l2.646-.317V53.41h-13.6v6.214c0 3.418.154 6.365.336 6.55.424.424 7.122.43 10.618.01zm-39.167-.177V53.41H0V40.818h38.79V78.6h-13.1V66.004z"/></g></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

}

// [4] FOOTER LAYOUT \\
// ----------------- \\
.#{$component}__footer {
    // Mixins
    @include transition(transform $timing-slide-ms ease-in-out);
    @include transform(scale(.85) translate(-50%, 0) translateZ(0));
    @include transform-origin(0);

    // Layout
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: $z-level-2;
    margin: .5rem 0;

    &--collapse {
        @include transform(translate(-50%, $hidden-offset) translateZ(0));
    }
}