/**
 * Apps styling.
 */

// ----- [0] LOCAL VARIABLES \\
// ----- [1] LOCAL MIXINS    \\
// ----- [2] APPS LAYOUT     \\

// [0] LOCAL VARIABLES \\
// ------------------- \\

/**
 * Component class name
 */
$component: 'apps';

/**
 * Tile component class name
 */
$tile: 'tile';

/**
 * Tile wrapper left offset
 */
$left-offset: 16.5%;

/**
 * Tile wrapper top offset
 */
$top-offset: 12%;

// [1] LOCAL MIXINS \\
// ---------------- \\


// [2] APPS LAYOUT \\
// ----------------\\
.#{$component} {
    // Mixins
    @include block;
    @include display-flex;
    @include flex-direction(column);

    // Layout
    position: relative;
    padding-top: $ui-nav-bar-height; // Nav bar offset

    // Sizing
    height: 100%;
    
    // [3] TILE WRAPPERS \\
    // ----------------- \\

    // Odd tile wrappers offsets
    > div:nth-child(odd){
        margin-top: -$top-offset;

        // shift tiles left
        .#{$tile}{
            left: $left-offset;
        }
    }

    // Tile even wrappers top offset
    > div:nth-child(even){
        margin-top: -$top-offset;
    }

    // Reset first item offset
    > div:first-child{
        margin-top: 0%;
    }   
}