/**
 * Details styling.
 */

// ----- [0] LOCAL VARIABLES \\
// ----- [1] LOCAL MIXINS    \\
// ----- [2] DETAILS LAYOUT  \\
// ----- [3] HEADER LAYOUT   \\

// [0] LOCAL VARIABLES \\
// ------------------- \\

/**
 * Component class name
 */
$component: 'details';

// [1] LOCAL MIXINS \\
// ---------------- \\


// [2] DETAILS LAYOUT \\
// ------------------ \\
.#{$component} {
    // Mixins
    @include display-flex;
    @include flex-direction(column);
    @include section;

    // Layout
    position: relative;

    // Sizing
    height: 100%;
}

// [3] HEADER LAYOUT \\
// ----------------- \\
.#{$component}__header {

    // Styling
    padding: 8rem 0 4rem;

    .#{$component}__header__title {
        // Mixins
        @include text-shadow(1px 1px $color-grey);

        // Typography
        font-size: $font-size-small - 0.5;
        color: white;
        text-align: center;
        line-height: $font-size-small;
    }
}