/**
 * Gallery styling.
 */

// ----- [0] LOCAL VARIABLES \\
// ----- [1] LOCAL MIXINS    \\
// ----- [2] GALLERY LAYOUT  \\

// [0] LOCAL VARIABLES \\
// ------------------- \\

/**
 * Component class name
 */
$component: 'gallery';

// [2] GALLERY LAYOUT \\
// ------------------ \\
.#{$component} {
	// Mixins
	@include spinner;

	.#{$component}__icon {

		// Layout
		position: relative;
		display: inline-block;
		width: 33%;

    	.#{$component}__icon__image{
    		// Layout
    		width: 100%;
    		min-height: 7rem;
    		padding: .25rem;
    		vertical-align: top;
    		box-sizing: border-box;

    		// Styling
    		visibility: hidden;

    		&--show{
    			// Layout
    			min-height: 0;

    			// Styling
    			visibility: visible;
    		}
    	}
	}
}