/**
 * NavBar styling.
 */

// ----- [0] LOCAL VARIABLES \\
// ----- [1] LOCAL MIXINS    \\
// ----- [2] NAVBAR LAYOUT   \\

// [0] LOCAL VARIABLES \\
// ------------------- \\

/**
 * Component class name
 */
$component: 'nav__bar';

// [2] NAVBAR LAYOUT \\
// ----------------- \\
.#{$component} {
     // Mixins
    @include transition(transform $timing-slide-ms ease-in-out);

    // Layout
    position: fixed;
    width: inherit;
    height: $ui-nav-bar-height;
    line-height: $ui-nav-bar-height;
    z-index: $z-level-2;
        
    // Styling
    background: rgba($color-brown, 0.7);

    &--collapse {
        // Mixins
        @include transform(translateY(-$ui-nav-bar-height));
    }
    
    .#{$component}__inner {
        @include transition(transform $timing-slide-ms ease-in-out);

        // Layout
        width: 100%;

        .#{$component}__item {

            // Layout
            display: inline-block;
            width: 33.3%;
            visibility: visible;

            // Typography
            color: white;
            font-size: $font-size-x-small + 0.1;
            font-weight: normal;
            text-align: center;

            &--active {
                // Mixins
                //@include transform(scale(1));

                // Typography
                color: $color-yellow;
            }

            &--hide {
                // Layout
                visibility: hidden;
            }
        }
    }
}