/**
 * Social styling.
 */

// ----- [0] LOCAL VARIABLES \\
// ----- [1] LOCAL MIXINS    \\
// ----- [2] SOCIAL LAYOUT   \\

// [0] LOCAL VARIABLES \\
// ------------------- \\

/**
 * Component class name
 */
$component: 'social';

/**
 * Social items list
 */
$items: (
    facebook: 	('\e600', #416099),
    googleplus: ('\e601', #D23C2B),
    linkedin: 	('\e602', #42A8D9),
    twitter: 	('\e603', #4FC1FD)
);

// [1] LOCAL MIXINS \\
// ---------------- \\

// hexagon top/bottom triangle
@mixin triangle($top: true) {
	$offset: -(1.5rem / 2);
	$border-size: 1.5rem/ 2;
	content: "";

	// Layout
	position: absolute;
	left: 0;
	width: 0;
	height: 0;

	// Styling
    border-left: 1.5rem solid transparent;
	border-right: 1.5rem solid transparent;

	@if $top {
		top: $offset;
		border-bottom: $border-size solid $color-yellow;
	}
	@else {
		bottom: $offset;
		border-top: $border-size solid $color-yellow;
	}
}

// [2] SOCIAL LAYOUT \\
// ----------------- \\
.#{$component} {

	.#{$component}__icon {
		// Layout
		display: inline;

    	.#{$component}__icon__link:before {
			// Layout
    		padding: .5rem;
			font-size: 5rem;
    	}

    	// Pseudo elements
    	@each $item, $value  in $items {
	    	.#{$component}__icon__link--#{$item}:before{
	    		// Layout
	    		content: nth($value, 1);
	    		height: 100%;

    			// Styling
	    		color: nth($value, 2);
	    	}
    	}
	}
}