/**
 * Tile styling.
 */

// ----- [0] LOCAL VARIABLES \\
// ----- [1] LOCAL MIXINS    \\
// ----- [2] TILE LAYOUT     \\

// [0] LOCAL VARIABLES \\
// ------------------- \\

/**
 * Component class name
 */
$component: 'tile';

// [2] TILE LAYOUT \\
// ----------------\\
.#{$component} {
    // Layout
    display: inline-block;
    position: relative;
    width: 33.3%;

    .#{$component}__inner {
        // Layout
        width: 75%;
        padding: 15%;
    }

    &--visited {
        // Mixins
        @include filter(grayscale(1));
    }
}
